langchain
langchain-core
langchain-community
langgraph
langchain-mistralai 
python-dotenv
faiss-cpu
tiktoken
fastapi
uvicorn
requests
langchain_huggingface
diffusers>=0.25.0
transformers
accelerate
torch
safetensors
imageio
imageio-ffmpeg
streamlit